<a href="https://colab.research.google.com/github/Emiliewu/datascience-assignments/blob/main/week2_assignment_2_Groupby_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Groupby Core
Emilie Wu

In [1]:
#import files
import pandas as pd
import 
fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/insurance_mod.csv"
df = pd.read_csv(fname)
df.head()

   age     sex     bmi  children  smoker     region  charges
0   19  female  27.900         0       1  southwest  16885.0
1   18    male  33.770         1       0  southeast   1726.0
2   28    male  33.000         3       0  southeast   4449.0
3   33    male  22.705         0       0  northwest  21984.0
4   32    male  28.880         0       0  northwest   3867.0

In [26]:
# What is the average age for the entire data set?
df_age = df['age']
# df_age.sum()
# average_age = df_age.sum() / len(df_age)
average_age = round(df['age'].mean(), 2)
average_age

39.21

In [21]:
# 2) What is the age of the oldest person in the entire data set (the maximum age)?
# oldest_age = max(df_age)
oldest_age = df['age'].max()
oldest_age

64

In [14]:
# 3) What is the age of the youngest person in the entire data set (the minimum age)?

In [22]:
# youngest_age = min(df_age)
youngest_age = df['age'].min()
youngest_age

18

In [25]:
# 4) What is the average for charges for the entire data set?
average_charges = round(df['charges'].mean(), 2)
average_charges

13270.41

In [28]:
# 5) What is the average for charges grouped by sex?
average_charges_groupedby_sex = df.groupby('sex')['charges'].mean()
average_charges_groupedby_sex

sex
female    12569.584592
male      13956.730769
Name: charges, dtype: float64

In [42]:
# 6) What is the average for charges, grouped by if the person is a smoker?
avg_charges_smoker = df[df['smoker'] == 1].groupby('smoker')['charges'].mean()
avg_charges_smoker

smoker
1    32050.226277
Name: charges, dtype: float64

In [49]:
# # 7) What is the average for charges grouped by if the person smokes and their sex?
avg_charges_smoker_sex = df.groupby(['sex', 'smoker'])['charges'].mean()
avg_charges_smoker_sex

sex     smoker
female  0          8762.307130
        1         30678.982609
male    0          8087.177950
        1         33042.006289
Name: charges, dtype: float64